.btn-view, .btn-edit, .form-archive {
	display: inline-block;
}

.department-scs-needed {
	margin-left: 95px;
}

/**************************************
    Dashboard
**************************************/

.dashboard h3 {
	margin-bottom: 2px;
}

.dashboard h5 {
	margin-top: 2px;
	font-size: 1.2em;
}

.tiles {
	margin-bottom: 10px;
}

.tiles .tile {
	height: 150px !important;
	width: 150px !important;
	margin-left: 20px;
	margin-right: 20px;
}

.calendar-dashboard {
	margin: 10px;
	margin-bottom: 15px;
}

.cal-dashboard .fc {
	font-size: 1.05em;
}

/**************************************
    Internal Trainings
**************************************/

.training-info, .training-sidebar {
	margin-bottom: 8px;
}

.training-details,  .training-participants, .training-requirements, .training-attendance {
    padding: 15px;
}

.training-participants, .training-requirements, .training-attendance  {
	padding-bottom: 20px;
}

.training-info h2 {
	margin-top: 0px;
	padding-left: 10px;
	font-weight: bold;
}

.training-info h3, .training-participants h3, .training-requirements h3, .training-attendance h3 {
	margin-top: 0px;
	font-size: 1.45em;
	font-weight: bold;
}

.training-participants h3, .view-participant {
	display: inline-block;
}

.view-participant:hover {
	background: rgba(255,57,235,0.45);
}

.training-details {
    margin-right: 2px;
}

.training-details h3 {
	font-size: 1.6em;
}

.training-details h5 {
	font-size: 1.3em;
}

.training-details h6 {
	font-size: 1.2em;
	font-weight: bold;
}

.training-details p {
	font-size: 1.2em;
	letter-spacing: 0.5px;
	text-align: justify;
}

.training-participants, .training-requirements, .training-attendance {
    margin-left: 2px;
}

.training-participants .label, .training-requirements .label {
	font-size: 0.9em;
}

.training-requirements .label {
	margin-top: 10px;
}

.training-participants .panel-header {
	margin-bottom: 5px;
}

.training-summary .summary-name {
	text-align: center;
}

.summary-name .count {
	font-size: 3em;
	font-weight: 400;
}

.summary-name .title {
	color: #FD5DED;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

.training-data {
	margin-bottom: 10px;
}

.training-data .panel {
	padding-left: 0px;
	padding-right: 0px;
	border: none;
}

.tags .label {
	background: #FF85F3;
	font-weight: 400;
}

.tags .label:hover {
	background: rgba(255,133,243,0.8);
}

.tags h3 {
	display: inline-block;
}

.training-requirements .requirement, .training-attendance .content {
	text-align: center;
	margin-bottom: 5px;
}

.training-requirements .requirement h4{
	font-size: 1.15em;
	margin-bottom: 5px;
	text-align: center;
}

.training-contents {
	padding: 20px;
}

.requirement h4, .requirement a, .requirement span {
	display: inline-block;
}

/**************************************
  	Employees
**************************************/

.employee-info, .employee-sidebar {
	margin-bottom: 8px;
}

.employee-details, .employee-status, .employee-summary {
    padding: 15px;
}

.employee-status, .employee-summary {
	padding-bottom: 20px;
}

.employee-info  {
	margin-bottom: 0px;
}

.employee-info h3, .employee-status h3, .employee-summary h3 {
	margin-top: 0px;
	font-size: 1.45em;
	font-weight: bold;
}

.employee-details {
    margin-right: 2px;
}

.employee-details h2  {
	margin-top: 0px;
}

.employee-details h3 {
	font-size: 1.55em;
}

.employee-info h4 {
	font-weight: bold;
	margin-bottom: 0px;
}

.employee-details h5 {
	font-size: 1.3em;
}

.employee-details h6 {
	font-size: 1.2em;
	font-weight: bold;
}

.employee-details p {
	font-size: 1.2em;
	letter-spacing: 0.5px;
	text-align: justify;
}

.employee-details .information-header {
	margin-left: 10px;
}

.employee-details h2.information-header {
	margin-top: 5px;
	font-weight: bold;
}

.employee-details h4.information-header {
	margin-top: 0px;
}

.designation {
	margin-bottom: 1px;
}

h5.employee-designation, h6.employee-designation {
	display: inline-block;
	margin-bottom: 1px;
}

.no-designation {
	padding-top: 6px;
	font-weight: bold;
	text-align: center;
}

.has-designation {
	text-align: left;
	padding-top: 0px !important;
	font-size: 1.65em !important;
}

h5.has-designation {
	margin: 0px;
	margin-left: 10px;
}

.employee-details a {
	margin: 0 auto;
}

.employee-details .line-division {
  margin-left: 7px;
  margin-bottom: 10px; 
}

.employee-details .email {
	margin-bottom: 0px;
}

/**************************************
    Training Plan
**************************************/

.calendar-tp {
	margin: 30px 20px;
}

/**************************************
    Accomplish PTA/PTE
**************************************/

.pta-form, .pte-form {
	margin-top: 20px;
	margin-bottom: 20px;
}

.pta-form h3, .pte-form h3 {
	font-size: 1.6em;
}

.pta-form h5, .pte-form h5 {
	font-size: 1.3em;
	font-weight: bold;
}

.pta-form h6, .pte-form h6 {
	font-size: 1.2em;
	font-weight: bold;
}

.pta-form p, .pte-form p {
	font-size: 1.2em;
	letter-spacing: 0.5px;
	text-align: justify;
}

.assessment-scale {
	margin-left: 50px;
	margin-bottom: 50px;
}

.pta-form table, .pta-form .label-remarks, .pta-form textarea,
.pte-form table, .pte-form .label-remarks, .pte-form textarea {
	width: 90%;
	margin: 0 auto;
}

.label-remarks {
	padding-top: 50px;
	padding-bottom: 15px;
}

.remarks {
	width: 100%;
	height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input[type="submit"].pta-form-btn, input[type="submit"].pte-form-btn {
	margin-top: 20px;
	margin-right: 55px;
	padding: 10px 15px;
	font-weight: bold;
}

/**************************************
    Submit External Training
**************************************/

.submit-et-nav {
	 margin: 30px 300px 25px 300px;
	 padding-left: 0px;
	 padding-right: 0px;
}

.submit-et-nav .active {
	background: #FE8BF2;
	color: rgba(80,80,80,0.8);
}

.submit-guide {
	background: #FFF;
	color: rgba(150,150,150,0.4);
	padding: 15px 20px;
	text-align: center;
	font-size: 1.25em;
	font-weight: 400;
}

.submit-et {
	margin: 25px 300px 50px 300px;
}

.submit-et .panel-header {
	text-align: center;
}

.submit-et form {
	margin-top: 30px;
}

.submit-et .btn {
	width: 100%;
	margin-top: 30px;
	padding: 10px;
	font-weight: bold;
}

.btn-back {
	margin-right: 10px;
}

/**************************************
    Attendance
**************************************/

.attendance-title {
	font-weight: bold;
}

#employee-number h2, #employee-number h3,
#employee-name h2, #employee-name h3 {
	display: inline-block;
}

#employee-number h3, #employee-name h3 {
	margin-left: 5px;
	margin-right: 10px;
}

/****************************************
    Skills&Competencies Summary Report
****************************************/

.filter-label, #dd-sc-filter {
	display: inline;
}

#dd-sc-filter {
	width: 65%;
}


#sc {
	padding-bottom: 20px;
}