/**************************************
    Standard CSS Components
**************************************/

body {
    background: #F8F8F8;
}

a {
    color: #FE8BF2;
}

/**************************************
    Nreadcrumb
**************************************/

.breadcrumb-header {
    background: #EBEBEB;
	margin-top: 60px;
}

.breadcrumb {
    background: transparent;
    width: 100%;
    min-height: 50px;
    margin: 0 50px;
}

.breadcrumb li {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.breadcrumb li>a {
    color: #888;
}

.breadcrumb li>a:hover {
    color: #FE8BF2;
    text-decoration: none;
}

.breadcrumb>li+li:before {
    content: ">\00a0";
}


/**************************************
    Navigational Bar
**************************************/

.navbar {
    min-height: 65px;
    background: #FFF;
    border: none;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-shadow: 0 3px 2px -2px #999;
       -moz-box-shadow: 0 3px 2px -2px #999;
            box-shadow: 0 3px 2px -2px #999;
}

.navbar-default .navbar-brand {
	color: #FE8BF2;
    padding: 2px;
}

.navbar-default .navbar-brand img {
    width: 60px;
}

.navbar-default .nav>li {
    padding: 4px 3px;
}

.navbar-default .nav>li>a {
    color: #FFF;
    font-size: 0.9em;
    font-weight: 300;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus
{
    color: #008D98;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #008D98;
}